In [46]:
import psycopg2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import string
import re
from collections import defaultdict
%matplotlib inline

In [49]:
punc = string.punctuation

In [2]:
conn = psycopg2.connect('dbname = mh')

In [3]:
cur = conn.cursor()

In [195]:
query_post = """
    Select * from mh_anx_post;
    """

query_user = """
    Select * from mh_anx_user;
    """

In [196]:
cur.execute(query_post)

In [197]:
thread = cur.fetchall()

In [198]:
cur.execute(query_user)

In [199]:
members = cur.fetchall()

In [140]:
conn.commit()

### Text Cleaning and getting into document format

### mh forum cleaning

In [200]:
# for pandas df
pid = []
user = []
post = []
mood = []
post_type = []
post_title = []
title = []
forum_name = []

#for nlp matrix
md = defaultdict(list)

#for all posts
for info in thread:
    pid.append(info[0])
    user.append(info[1])
    
    #remove extra space in document and remove punctuation and append to dictionary
    doc = info[2]
    doc = "".join(re.sub(r'\s\s', '|', doc).split())
    doc = doc.replace("|", " ")
    doc = [letter for letter in doc if letter not in punc]
    doc = ("".join(doc).lower())
    md[info[1]].append(doc)
    
    post.append(doc)
    mood.append(info[3])
    post_type.append(info[4])
    post_title.append(info[5])
    title.append(info[6])
    forum_name.append(info[7])
    
# create post df from mh forum
mh_anx_post = pd.DataFrame({'pid':pid, 'user': user, 'post': post, 'mood': mood, 'post_type': post_type, 'post_title': post_title, 'thread_title': title, 'forum_name': forum_name})
mh_anx_post = mh_anx_post[['pid', 'user', 'post_title', 'post', 'post_type', 'mood', 'thread_title', 'forum_name']]

In [201]:
#for pandas df
user = []
join_date = []

for member in members:
    user.append(member[0])
    join_date.append(member[1])
    
mh_anx_user = pd.DataFrame({'user': user, 'member_since': join_date})
mh_anx_user = anx_user[['user', 'member_since']]

In [202]:
mh_anx_post.head()

,pid,user,post_title,post,post_type,mood,thread_title,forum_name
0,1592723,Andy1963,Sudden Onset Anxiety - Please help!,hi ive never suffered any sort of anxiety befo...,author,nan,Sudden Onset Anxiety - Please help!,Generalized Anxiety Disorder
1,1592736,Zardos,nan,i can sympathize i get crippling anxiety when ...,responder,nan,Sudden Onset Anxiety - Please help!,Generalized Anxiety Disorder
2,1594183,rachelangelo,nan,im sorry youre dealing with this i dont know i...,responder,nan,Sudden Onset Anxiety - Please help!,Generalized Anxiety Disorder
3,1598245,akash,nan,apart from medical help there are many tricks ...,responder,nan,Sudden Onset Anxiety - Please help!,Generalized Anxiety Disorder
4,585119,Mayfair,nan,great tune i had my beatles number one hits i...,responder,nan,didnt know where to post this,Social Anxiety

In [203]:
mh_anx_user.head()

           user member_since
0    steviep43      Jan 2018
1  Chalmers333      Jan 2018
2       JenIAm      Jan 2018
3       Aw3092      Jan 2018
4    srussells      Jan 2017

### PC forum cleaning

In [147]:
#query from pc forum
query_post = """
    Select * from pc_anx_post;
    """

query_user = """
    Select * from pc_anx_user;
    """

In [162]:
cur.execute(query_post)
thread = cur.fetchall()

In [170]:
cur.execute(query_user)
members = cur.fetchall()

In [107]:
d = thread[5][3]

In [112]:
d = " ".join([word.strip().lower() for word in d.split()])

In [116]:
d = "".join([letter for letter in d if letter not in punc])

In [117]:
d

'picked chicken meat have 3 cups now made cookies and put away sausage that my husband cooked up the cookies are soon good trying to get back into discussion with class but cant think of anything i need to do that before sunday mostly reading and wanting to go to sleep but i cant anxiety at 11 am but i was cooking so i hunkered down and did stuff other than that ive been snacking and reading making dinner here soon'

In [158]:
pid = []
user = []
mood = []
post = []
post_type = []
post_title = []
forum_name = []
title = []


for info in thread:
    pid.append(info[0])
    user.append(info[1])
    mood.append(info[2])
    
    doc = info[3]
    doc = " ".join([word.strip().lower() for word in doc.split()])
    doc = "".join([letter for letter in doc if letter not in punc])
    md['user'].append(doc) #appending to dictionary of users and docs from above
    
    post.append(doc)
    post_type.append(info[4])
    post_title.append(info[5])
    forum_name.append(info[6])
    title.append(info[7])
    
    
    
pc_anx_post = pd.DataFrame({'pid': pid, 'user': user, 'mood': mood, 'post': post, 'post_type': post_type, 'post_title': post_title, 'thread_title': title, 'forum_name': forum_name})
pc_anx_post = pc_anx_post[['pid', 'user', 'post_title', 'post', 'post_type', 'mood', 'thread_title', 'forum_name']]

In [171]:
#for pandas df
user = []
join_date = []

for member in members:
    user.append(member[0])
    join_date.append(member[1])
    
pc_anx_user = pd.DataFrame({'user': user, 'member_since': join_date})
pc_anx_user = pc_anx_user[['user', 'member_since']]

In [159]:
pc_anx_post.head()

,pid,user,post_title,post,post_type,mood,thread_title,forum_name
0,5974949,BBB2,Is SA neurological?,is there neurological basis for sa i feel like...,author,ashamed,Is SA neurological?,Social Anxiety and Selective Mutism
1,5686333,AmandaBroken,Anxiety Daily Check-In point #4,amandabroken,responder,sunshine,Anxiety Daily Check-In point #4,Anxiety Panic and Phobias
2,5686378,zzzsmokeyzzz,Anxiety Daily Check-In point #4,feeling pretty good today life is going pretty...,responder,calm,Anxiety Daily Check-In point #4,Anxiety Panic and Phobias
3,5686442,DodgersMom,Anxiety Daily Check-In point #4,anxiety is through the roof just found out my ...,responder,content,Anxiety Daily Check-In point #4,Anxiety Panic and Phobias
4,5686444,AmandaBroken,Anxiety Daily Check-In point #4,amandabroken,responder,sunshine,Anxiety Daily Check-In point #4,Anxiety Panic and Phobias

In [172]:
pc_anx_user.head()

               user member_since
0           Nike007     Jul 2015
1        Bozdickens     Jun 2016
2      sonjaward809     Feb 2013
3  shattered sanity     Aug 2012
4              sans     May 2013

### Merging DF's

In [204]:
anx_post = pd.concat([mh_anx_post, pc_anx_post])

In [205]:
anx_user = pd.concat([mh_anx_user, pc_anx_user])

### Preparing the documents

In [208]:
user_list = [key for key in md]

In [218]:
documents = [md[user] for user in user_list]

In [227]:
documents = [post for doc in documents for post in doc]

# NLP

## Text Processing Pipeline

In [228]:
from nltk.corpus import stopwords

In [229]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [230]:
tfidf_vect = TfidfVectorizer(stop_words = 'english')

In [231]:
tfidf_vectorized = tfidf_vect.fit_transform(documents)

In [232]:
from sklearn.metrics.pairwise import linear_kernel

In [233]:
len(tfidf_vect.vocabulary_)

67478

In [234]:
cos_sim = linear_kernel(tfidf_vectorized, tfidf_vectorized)

In [ ]:
top_match = np.argsort(cos_sim, axis = 1)